li{

    list-style: none;
}
img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

body{


    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333;
    font-family: Arial, "Helvtica Neue", Helvetica, sans-serif;
}


/*_______________________________*/


.form { 
    max-width: 550px;
    margin: 0px auto;
    color: #fff;
    padding: 30px 0;
}
.form__body { }
.form__title{ 
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;  
}
.form__item {
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
 }
.form__label { }
.form__input { 
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

textarea.form__input{
    min-height: 120px;
    resize: vertical;
    padding:20px;

}


.options { }
.options__item { }
.options__input { }
.options__label { }
.select { }
.file { }
.file__item { }
.file__input { }
.file__button { }
.file__preview { }
.checkbox { }
.checkbox__input { }
.checkbox__label { }
.form__button { }